{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title>Gift</title>-->
</head>
<h1>Gift</h1>
<body>
  {% block content %}
    <form method="POST">
        {% csrf_token %}
        {% for type in donation_types %}
            {{ type.name }}<input type="text" name="{{ type.pk }}"><br>
        {% endfor %}
        <input type="submit" name="continue" value="Continue">
        <input type="submit" name="cancel" value="Cancel">
    </form>
    {% endblock %}

</body>
</html>
